html{
  height: 100%;
  background-image: linear-gradient(#2e8b57,#00FFFF);
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: #0f222d;
  background-size: auto;
}
.main{
  width: 400px;
  margin: auto;
}
h1{
  text-align: center;
  color: #fff;
}
input[type="text"]{
  width: 310px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: #fff;
  color: #2f4f4f;
}
button{
  font-size: 1.5em;
  color: #53BDFF;
  background-color: #fff;
  outline: 0;
  border: none;
  width: 70px;
  align-self: center;
}

span{
  color: red;
}

li{
  font-size: 20;
  font-style: bold underline;
}